@import "https://fonts.googleapis.com/css?family=Lato&effect=shadow-multiple";

a {
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-family: 'Lato';
}

#navbar{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  /* background-color:green; */
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
 
}
nav{
  
  display:flex;
  justify-content: space-between;
  align-items: center;
}
svg{
  margin-top:10px;
}

.profile-link{
  padding:10px;
}

.profile-link:hover{
color:white;
fill:#FFF;
}
svg:hover{
fill:white;
}

@media(max-width:460px){
  .ext-link{
display:none;
  }
}

h1{
  font-size:4em;
}

#welcome-section{
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                  url("../../assets/images/tiger2.jpg");
                  background-size: 50%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: relative;
  height:100vh;
}


.heroText{
font-family: 'Lato';
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


