<!-- Welcome Section -->
<!-- <div class="welcome-section">
  <div class="heroText">
    <h1 class="font-effect-shadow-multiple">Hi, I'm <span class="my-name">{{headerInfo}}</span>!</h1>
    <div class="mat-h1"> Aspiring Full-stack developer. Recent grad from Software Development at Sheridan College.</div>
  </div>
</div> -->

<div class="welcome-section">
  <div class="sign">
    <span class="sign__word">Hi,</span>
    <span class="sign__word">I'm Shannon</span>
    <span class="sign__word">Software development graduate</span>
  </div>
</div>