@import "https://fonts.googleapis.com/css?family=Roboto&effect=shadow-multiple";
@import "https://fonts.googleapis.com/css?family=Archivo+Black&display=swap";
@import "https://fonts.googleapis.com/css?family=Vibur&display=swap";


h1{
  font-size:4em;
  line-height: 1em;
}

.my-name{
  color: #d08cd1;
}

.welcome-section{
  font-family: "Vibur", cursive;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                  url("../../assets/images/tiger-desktop.jpg");
                  background-size: 50%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: relative;
  height:100vh;
  @media(max-width:460px){
    
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/images/tiger-mobile.jpg");
  }
  
}

.heroText{
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 10vh;
}

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  &__word {
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
  }

}

/*-- Animation Keyframes --*/

// animation

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}



// Link
.link {
	position: absolute;
	bottom: 10px; left: 10px;
	color: #828282;
	text-decoration: none;
	
	&:focus,
	&:hover {
    color: #c6e2ff;
		text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
	}
}