a {
  text-decoration: none;
  color:white;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

#navbar{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
 
}
nav{
  
  display:flex;
  justify-content: center;
  align-items: center;
}
svg{
  margin-top:10px;
}
svg:hover{
  fill:skyblue;
  
}  

.profile-link{
  padding:10px;
}

.profile-link:hover{
color:skyblue;
fill:skyblue;
transform:rotate(10deg);
}

@media(max-width:560px){
  .ext-link{
    display:none;
  }
}