.title{
  margin: 10% 0;
  //padding: 10px;
  font-size: 2em;
  line-height: 1.25rem;
  text-align: center;
}
.title-text{

  background-image: linear-gradient(transparent 60%,#c6e2ff 60%);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: top center;
  
}

@media(min-width:768px){
  .title{
    margin: 2% 0;
    //padding: 10px;
    font-size: 3em;
    line-height: 1.25rem;
    text-align: center;
  }
}

// .otherprojects__container{
//   display: grid;
//   grid-template-columns: 1fr;
//   @media(min-width:768px){
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

.otherprojects__container{
  display: flex;
  flex-direction: column;
  @media(min-width:768px){
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
