<div [ngClass]="(project.id%2==0)?'project-tile mat-typography':'project-tile--reverse mat-typography'">
  <div class="project-card">
    <div *ngIf="project.github; else elseBlock">
      <a href={{project.github}} target="_blank"><img src={{project.image}} alt="{{'Screen of '+project.name}}"></a>
    </div>
    <ng-template #elseBlock>
      <a href={{project.link}} target="_blank"><img src={{project.image}} alt="{{'Screen of '+project.name}}"></a>
    </ng-template>
  </div>
  <div class="project-description">
    <div class="mat-h1 project-name">{{project.name}}</div>
    <div class="mat-h3">{{project.description}}</div>
    <div *ngIf="project.awards" class="project-awards mat-h3">
      <div *ngFor="let award of project.awards">🏆{{award}}</div>
    </div>
    <p class="project-tech mat-h4">{{project.tech | uppercase }}</p>
    <div class="project-links">
      <div *ngIf="project.dialog">
        <a mat-stroked-button color="accent" (click)="openDialog(project.dialog)">MORE INFO</a>
      </div>
      <!-- <div *ngIf="project.video">
        <a mat-stroked-button color="accent" href={{project.video}} target="_blank" alt="Video Demo"
          >VIDEO DEMO</a>
      </div> -->
      <div *ngIf="project.demo">
        <a mat-stroked-button color="accent" href={{project.demo}} target="_blank" alt="Live Demo Link">LIVE DEMO</a>
      </div>
      <div *ngIf="project.github">
        <a mat-stroked-button color="accent" href={{project.github}} target="_blank" alt="Github Link">GITHUB</a>
      </div>
      <div *ngIf="project.document">
        <a mat-stroked-button color="accent" href={{project.document}} target="_blank" alt="Powerpoint Link">PPT</a>
      </div>
    </div>
  </div>
</div>