<!-- Projects Section -->

<div id="projects" class="main-div">



  <div class="project-tile" id="d1">
    <mat-card class="project-card">
      <!-- <mat-card-header> -->
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <!-- <mat-card-title>Health Diary</mat-card-title>
        <mat-card-subtitle>Java</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image src="../../assets/images/iosApp.png" alt="Photo of iOS Mobile App">
      <mat-card-content>
        <a href="https://github.com/shannon-codes/iOS-Movie-Night">
          <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48px" height="48px">
            <path
              d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z" />
            </svg>
        </a>
      </mat-card-content>
      <!-- <mat-card-actions>

      </mat-card-actions> -->
    </mat-card>
    <div class="project-description">
      <h2>iOS Movie Night Mobile App</h2>
      An iOS mobile app that helps users plan their movie night. It calls themoviedb.org API to display information about movies that are upcoming, now playing, and top rated. The user can view, save, delete their list of favorites. They can sets push notification reminders on movie release dates. There is a map feature to find directions. For this project I worked in team of 4.
      <p>Built with Swift, SQLite.</p>

    </div>
  </div>

  <div class="project-tile" id="d1">
    <mat-card class="project-card">
      <img mat-card-image src="../../assets/images/uplift.JPG" alt="Photo of iOS Mobile App">
      <mat-card-content>
        <a href="https://github.com/shannon-codes/rbcuplift">
          <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48px" height="48px">
            <path
              d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z" />
            </svg>
        </a>
      </mat-card-content>
      <!-- <mat-card-actions>

      </mat-card-actions> -->
    </mat-card>
    <div class="project-description">
      <h2>Hackathon Submission: Uplift Website</h2>
      Entered RBC AmpHacks 2020 and worked in a team of 4 to ideate, create, and pitch in 36 hours. My role was to develop front-end code for a Proof of Concept. 
      <p>Built with Angular</p>

    </div>
  </div>

  <div class="project-tile" id="d1">
    <mat-card class="project-card">
      <img mat-card-image src="../../assets/images/grades.png" alt="Photo of Java Student Grades Portal">
      <mat-card-content>
        <a href="https://github.com/shannon-codes/student-grades-portal">
          <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48px" height="48px">
            <path
              d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z" />
            </svg>
        </a>
      </mat-card-content>
      <!-- <mat-card-actions>

      </mat-card-actions> -->
    </mat-card>
    <div class="project-description">
      <h2>Student Grades Management Portal</h2>
      Created web app for class management for students and a professor. It has the ability for students to view their grades. As for professors, they can view, add, edit, and delete new and existing students and grades. They can see the class GPA and average grades per assignment. It has login authentication and user role authorization. stores encrypted password, uses Thymeleaf template engine to assist with form binding to java bean, and Lombok to simplify java bean by redusing boilerplate code
      <p>Built with Java, Spring Boot, Hibernate (ORM), H2 In-Memory database and on for frontend using HTML, CSS, Bootstrap</p>

    </div>
  </div>

  <div class="project-tile" id="d1">
    <mat-card class="project-card">
      <img mat-card-image src="../../assets/images/eswap.JPG" alt="Photo of Community e-Swap Portal">
      <mat-card-content>
        <a href="https://github.com/shannon-codes/Community-eSwap">
          <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48px" height="48px">
            <path
              d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z" />
            </svg>
        </a>
      </mat-card-content>
      <!-- <mat-card-actions>

      </mat-card-actions> -->
    </mat-card>
    <div class="project-description">
      <h2>Community e-Swap Portal</h2>
      This application is for current computer science
students and recent graduates in order to build up their
experience portfolio and help community with their
talent, knowledge and skills. Also non-profit community
organization or individuals who cannot afford high
budget technical services can use this application to
post opportunities for students who can volunteer or provide
services for exchange of assets such as venue,
instruments, use of truck etc. 

For this project, I worked in a team along side Hatim and Minjung.
      <p>Built with C# ASP.NET, MS SQL Server</p>

    </div>
  </div>

  <div class="project-tile" id="d1">
    <mat-card class="project-card">
      <!-- <mat-card-header> -->
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <!-- <mat-card-title>Health Diary</mat-card-title>
        <mat-card-subtitle>Java</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image src="../../assets/images/HealthDiary.JPG" alt="Photo of Health Diary Application">
      <mat-card-content>
        <a href="https://github.com/shannon-codes/HealthDiary">
          <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48px" height="48px">
            <path
              d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z" />
            </svg>
        </a>
      </mat-card-content>
      <!-- <mat-card-actions>

      </mat-card-actions> -->
    </mat-card>
    <div class="project-description">
      <h2>Health Diary</h2>
      This application allows users to complete a daily questionnaire entry on health-related metrics such as glasses of water, meals, hours of sleep, calories
      burned, amount of exercise, etc. It allows the user to create, read, update, delete, and search for diary entries. It saves entries to an output file.
      <p>Built with Java, JavaFX, and SceneBuilder.</p>

    </div>
  </div>
  <!--div card 2-->

  <div class="project-tile" id="d2">
    <mat-card class="project-card">
      <!-- <mat-card-header> -->
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <!-- <mat-card-title>Knight's Tour Simulator</mat-card-title>
        <mat-card-subtitle>C#</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image src="../../assets/images/Heuristic1.png" alt="Photo of Knight's Tour">
      <mat-card-content>
        <a href="https://github.com/shannon-codes/Knights-Tour">
          <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48px" height="48px">
            <path
              d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z" />
            </svg>
        </a>
      </mat-card-content>
      <!-- <mat-card-actions>

      </mat-card-actions> -->
    </mat-card>
    <div class="project-description">
      <h2>Knight's Tour Simulator</h2>
      
        This application runs simulations of the Knight's Tour problem. 
        The aim is the move the knight to every position on the chessboard, but the knight 
        can visit a square only once. It allows the user to choose the simulation method and 
        the knight's starting position.
        The result displays the sequence of movements of the knight on the chessboard 
        and the total number of squares visited.
        The results are saved into a text file.
      
      <p>Built with C# .NET, Windows Forms</p>

    </div>
  </div>
</div>

<!-- <mat-tab-group mat-stretch-tabs  
               class="example-stretched-tabs mat-elevation-z4" 
               [ngStyle]="{textAlign:'center'}">
  <mat-tab label="Java">
<section [ngStyle]='{backgroundColor:"bisque"}'>
    {{mainInfo.sname}}
    {{mainInfo.sid}}
</section>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
C# &nbsp;&nbsp;<mat-icon>laptop</mat-icon>
    </ng-template>

<button mat-button>Normal</button>&nbsp;&nbsp;
<button mat-fab>Circle</button>&nbsp;&nbsp;
<button mat-stroked>Stroked</button>&nbsp;&nbsp;

  </mat-tab>  

  <mat-tab>
    <ng-template mat-tab-label>
Other&nbsp;&nbsp;<mat-icon>laptop</mat-icon>
    </ng-template>

<button mat-icon-button>
  <mat-icon color='primary'>favorite</mat-icon>
</button>


<button mat-stroked-button>Stroked with icon on right
    <mat-icon color='accent'>shopping_cart</mat-icon>
</button>

<button mat-stroked-button>Stroked with icon underneath<br>
    <mat-icon color='warm'>android</mat-icon>
</button>

  </mat-tab>
</mat-tab-group> -->