.main-div{
  font-family: 'Lato';
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .project-card {
  max-width: 450px;
  height: auto;
}

 mat-card-content{
  text-align: center;
  }

  #d1{
    display:flex;
    width: 100%;
    min-height:100vh;
    background: linear-gradient(35deg,#024e69,#5e0023);
   
    align-items: center;
    justify-content: space-evenly;
  }

  #d2{
    display:flex;
    width: 100%;
    min-height:100vh;
    background: linear-gradient(35deg,#ff8229,#5e1e00);
    align-items: center;
    justify-content: space-evenly;
  }

  svg:hover{
    fill:black;
    }


    .project-description{
      font-size: 1.5em;
      width: calc(100%  / 3);
      color: white;
    }

    @media(max-width:460px){
      .project-tile{
        flex-direction: column;
      }
      .project-description{
        font-size: 1.5em;
        width: 90%;
      }
    }
 