#about-section{
  width: 100%;
  height:100vh;
  background: linear-gradient(35deg,teal,#024e69);
  // background: linear-gradient(35deg,rgb(168, 130, 238),rgb(56, 10, 182));
  text-align: center;
  font-family: 'Lato';
}
.container{
  display: flex;
  justify-content: center;
  align-content: center;
  
}
img{
  max-width: 100%;
  height:auto;
}
.custom-card{
  max-width: 300px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
        rgba(0, 0, 0, 0.19);
}

.custom-header-image {
  background-image: url('../../assets/images/linkedInPhoto.png');
  background-size: cover;
}

.custom-about{
  max-width: 300px;
  margin: 30px;
  padding: 50px;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
        rgba(0, 0, 0, 0.19);
}

@media(max-width:768px){
  .container{
    flex-direction: column;
  }

  .custom-card{
    margin: 5px;
    max-width: 100%;
  }
  .custom-about{
    margin: 5px;
    padding: 5px;
    color:white;
    max-width: 100%;
  }
}
