<div id="about-section">
  <h1 class="title">ABOUT ME</h1>
  <div class="container">
    
    <mat-card class="custom-card">
      <mat-card-header>
        <div mat-card-avatar class="custom-header-image"></div>
        <mat-card-title>Shannon Lim</mat-card-title>
        <mat-card-subtitle>Full-Stack Web Developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/pom.jpg" alt="Photo of a Pom">
      <mat-card-content>
        <p>
        ✔ Spectacles 👓
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>HIRE ME</button>
      </mat-card-actions> -->
    </mat-card>
 
  
    <div class="custom-about mat-body">
      <p>Hi there,</p>
      <p> I'm a 2021 graduate of Computer Systems Technology in Software Development and Network Engineering at Sheridan College.</p>
      <p>I'm facinated by building things using code. It's satisfying to create a web application, where none existed before.</p>
     
      <p>If you have any questions, you can reach me at limsha@sheridancollege.ca!</p>
   
    </div>
  </div>
</div>