<div id="about-section">
  <div class="container">
    <mat-card class="custom-card">
      <mat-card-header>
        <div mat-card-avatar class="custom-header-image"></div>
        <mat-card-title>Shannon Lim</mat-card-title>
        <mat-card-subtitle>Full-Stack Web Developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/pom.jpg" alt="Photo of a Pom">
      <mat-card-content>
        <p>
          Coding glasses and coding hair
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>HIRE ME</button>
      </mat-card-actions> -->
    </mat-card>
 
  
    <div class="custom-about">
      <p>Hello there,</p>
      <p> I'm a recent graduate of Computer Systems Technology in Software Development and Network Engineering at Sheridan College.</p>
     <p>I'm facinated by making things using code. I feel happy creating a computer program or website created, where none existed before.</p>
     
     <p>If you have any questions, you can reach me at limsha@sheridancollege.ca!</p>
   
    </div>
  </div>
</div>