<div id="about-section">
  <div class="container">
    <mat-card class="custom-card">
      <mat-card-header>
        <div mat-card-avatar class="custom-header-image"></div>
        <mat-card-title>Shannon Lim</mat-card-title>
        <mat-card-subtitle>Computer Programmer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/me4.jpg" alt="Me Studying Programming">
      <mat-card-content>
        <p>🎓Sheridan College '20 Software Development and Network Engineering</p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button src="#contact-section" mat-button>HIRE ME</button>
      </mat-card-actions> -->
    </mat-card>
 
    <div class="custom-about mat-body">
      <h1>Hello,</h1>
      <p> I'm a creative and self-motivated programmer with skills in <strong>web application development</strong>, <strong>databases</strong>, and <strong>system analysis.</strong></p>

        <p>I love to work on hands-on projects and learn new technologies. </p>
        
       <p> I am excited for the opportunity to bring my skills to a new professional environment.</p>
    </div>
  </div>
</div>