// img{
//   height:auto;
//   width:100%;
// }

.content__video{
  height:auto;
  width:100%;
}

.content__document{
  margin-bottom:1rem;
}

@media only screen and (min-width:768px){
  .content__video{
    height:315px;
    width:560px;
  }
}