.card{
  margin: 20px;
  @media screen and (min-width:768px) {
    max-width: 500px;
    margin-bottom: 50px;
  }
}

.project-links{
  display:flex;
  justify-content: center;
  //display: relative;
}
.project-links>div{
  margin-right: 10px;
}

.container{
  text-align: center;
}