#skills-section{
  width: 100%;
  height:100vh;
  //background: linear-gradient(35deg,teal,#024e69);
  // background: linear-gradient(35deg, #757575, #BDBDBD);
  //background: linear-gradient(35deg,teal,#024e69);
  text-align: center;
  font-family: 'Lato';
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-content: center;

  // @media(max-width:768px){
  //     height:100vh;
  //   }
    
}

img{
  height:200px;
  width: 200px;
}

.title{
  padding: 10px;
  font-size: 3em;
  line-height: 1;
}

.container-skills{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-skill{
  max-width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

@media(max-width:768px){

  .container-skills{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
  }
  .container-skill{
    max-width: 100%;
    margin: 0px;
  }
  .tech{
    display: none;
  }
  img{
    
    height:100px;
    width:100px;
    
  }
}
